@inherits LayoutComponentBase

<div class="main">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand  mx-auto order-0 order-md-2" href=""><img width="75" src="timeylogo.png" /></a>       
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>